<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/css/jass.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../../public/css/style.css" />
    <title>The Prioritizer</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <a class="navbar-brand" href="#">The Prioritizer</a>
          <a class="nav-item nav-link ml-auto" href="#">Logout</a>
        </div>
      </div>
    </nav>


    <main>
        <div class="card mb-3">
              
              <div class="card-header">Create Proposal</div>
              <div class="card-body"></div>
                <form>
                    <div class="form-group">
                    <input type="text" class="form-control" id="idea" placeholder="Enter Idea">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
    
            </div>
          </div>
        </div>
 
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </body>
</html>