<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/css/jass.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../../public/css/style.css" />
    <title>The Prioritizer</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <a class="navbar-brand" href="#">The Prioritizer</a>
          <a class="nav-item nav-link ml-auto" href="#">Login</a>
        </div>
      </div>
    </nav>

    <div class="jumbotron">
      <h1 class="display-4">The Prioritizer</h1>
      <p>Log in to contribute proposals for prioritization and vote!</p>
    </div>
    <main>
      <div class="mainideas">
        <h3>Current Proposals</h3>
        <p>Paint House</p>
        <p>Rake Yard</p>
        <p>Mow Lawn</p>
        <p>Go Fishing</p>
      </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  </body>
</html>