<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/css/jass.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../../public/css/style.css" />
    <title>The Prioritizer</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <a class="navbar-brand" href="#">The Prioritizer</a>
          <a class="nav-item nav-link ml-auto" href="#">Logout</a>
        </div>
      </div>
    </nav>


    <main>
        <div class="timeremaining">
            <p>Voting in Progress</p>
            <p>10:42 Remaining</p>
        </div>
        <div class="user">
            <p>User: Michael</p>
        </div>
        <div class="votes">
            <p><span class="votescast">3</span> Votes cast<span class="votesremaining"> 2</span> Votes remaining</p>

        </div>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Proposal</th>
                <th scope="col">Current Vote Total</th>
                <th scope="col">Cast Vote</th>
               </tr>
            </thead>
            <tbody>
              <tr>
                <td>Paint House</td>
                <td>**</td>
                <td>Cast Vote Img</td>
              </tr>
              <tr>
                <td>Mow Lawn</th>
                <td>*</td>
                <td>Cast Vote Img</td>
              </tr>
              <tr>
                <td>Rake yard</th>
                <td>*******</td>
                <td>Cast Vote Img</td>
              </tr>
              <tr>
                <td>GoFishing</th>
                <td>***</td>
                <td>Cast Vote Img</td>
              </tr>
              

            </tbody>
          </table>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </body>
</html>