<div class="mainproposals">
  <h3>Current Proposals</h3>
  <p>Paint House</p>
  <p>Rake Yard</p>
  <p>Mow Lawn</p>
  <p>Go Fishing</p>

</div>

<!-- Loop over each object in the proposals array  -->
{{#each proposals as |proposal|}}
  <div class="mainproposals">
    {{proposal.proposal}}
  </div>
{{/each}}