<div class="mainideas">
  <h3>Current Proposals</h3>
  <!-- Loop over each object in the proposals array  -->
  {{#each proposals as |proposal|}}
    <div class="mainproposals">
      {{proposal.proposal}}
    </div>
  {{/each}}
</div>
<div>
  <a href="/create-proposal" class="buttonstyle">Add Proposal</a>
  <a href="/votes" class="buttonstyle" id="start-vote-button">Start Voting</a>

</div>

