    <main>
      <row>
        <div class="col-7 mainideas" height="400">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Proposal</th>
                <th scope="col">Final Vote Count</th>
               </tr>
            </thead>
            <tbody>
                {{#each proposals as |proposal|}}
              <tr>
                <td>{{proposal.proposal}}</td>
                <td>**</td>
              </tr>
            </tbody>
          </table>
          </div>

          <div class="mainideas">
  <!-- Loop over each object in the proposals array  -->
    <div class="mainproposals">
      {{proposal.proposal}}
    </div>
  {{/each}}
</div>

          <!-- RESULTS GRAPH CANVAS PLACEHOLDER -->

          <div id="chartHolder" class="col-5" height="400">
            <canvas id="myChart" width="400" height="400"></canvas>
          </div>
        </row>
        
    </main>
