    <main>
      <row>
        <div class="col-7" height="400">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Proposal</th>
                <th scope="col">Final Vote Count</th>
               </tr>
            </thead>
            <tbody>
              <tr>
                <td>Paint House</td>
                <td>**</td>
              </tr>
              <tr>
                <td>Mow Lawn</th>
                <td>*</td>
              </tr>
              <tr>
                <td>Rake yard</th>
                <td>*******</td>
              </tr>
              <tr>
                <td>Go Fishing</th> 
                <td>***</td>
              </tr>
            </tbody>
          </table>
          </div>
          <!-- RESULTS GRAPH CANVAS PLACEHOLDER -->

          <div id="chartHolder" class="col-5" height="400">
            <canvas id="myChart" width="400" height="400"></canvas>
          </div>
        </row>
        
    </main>
{{!-- Chart Script - not finding - need to go in main??  --}}
    <script src="../utils/chart.js"></script>  